* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    position: relative;
}

body {
    padding: 100px;
    /* background-color: rgb(126, 193, 158); */
    /* background-image: url(../img/hockey_2.png); */
    background-color: rgb(102, 102, 102);
}

main {
    display: relative;
}

.tituloHome {
    text-align: center;
    width: 100%;
    height: 400px;
    text-shadow: 0px 7px 5px rgba(255, 255, 255, 0.6);
    font-size: 2em;
    background-image: url(../img/design1_image2.jpg);
    background-size: cover;
}

.tituloAbout {
    text-align: center;
    width: 100%;
    height: 400px;
    text-shadow: 0px 7px 5px rgba(255, 255, 255, 0.6);
    font-size: 2em;
    background-image: url(../img/design1_image1.jpg);
    background-position-y: -135px;
    background-size: cover;
}

.tituloContact {
    text-align: center;
    width: 100%;
    height: 400px;
    text-shadow: 0px 7px 5px rgba(255, 255, 255, 0.6);
    font-size: 2em;
    background-image: url(../img/image_1.jpg);
    background-position-y: -30px;
    background-size: cover;
}

.tituloRules {
    text-align: center;
    width: 100%;
    height: 400px;
    text-shadow: 0px 7px 5px rgba(255, 255, 255, 0.6);
    font-size: 2em;
    background-image: url(../img/image_2.jpg);
    background-position-y: -65px;
    background-size: cover;
}

.tituloGameInfo {
    text-align: center;
    width: 100%;
    height: 400px;
    text-shadow: 0px 7px 5px rgba(255, 255, 255, 0.6);
    font-size: 2em;
    background-image: url(../img/image_3.jpg);
    background-position-y: -115px;
    background-size: cover;
}

h1 {
    color: black;
    -webkit-text-stroke: 1.3px gold;
    width: 500px;
    position: relative;
}

h2 {
    background-color: black;
    text-align: center;
    color: white;
    margin: 2px;
    padding: 5px;
}

.imagenLogo {
    width: 350px;
    position: absolute;
    top: 30px;
    right: 5%;
}

img {
    width: 100%;
}

nav>a {
    display: flex;
    position: relative;
    padding: 10px;
    /* text-align: right;   */
    background-color: gold;
}

nav>a:hover {
    background-color: orange;
    border-radius: 10px;
}

.botonesHome {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    background-color: gold;
}

.textoHome {
    text-align: center;
    /* width: 200px; */
    /* padding-left: 40px; */
}

.botonesAbout {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    background-color: gold;
}

.textoAbout {
    display: inline-flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0px 100px 20px 100px;
}

.botonesContact {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    background-color: gold;
}

.textoContact {
    display: inline-flex;
    width: 100%;
    flex-direction: column;
    padding: 50px;
}

.textoRules {
    display: inline-flex;
    width: 100%;
    flex-direction: column;
    padding: 50px;
}

.textoGameInfo {
    display: inline-flex;
    width: 100%;
    flex-direction: column;
    padding: 50px;
}

h3 {
    padding-top: 50px;
    font-style: oblique;
}

div>p {
    text-align: center;
    position: relative;
}

div a {
    color: blue;
    text-decoration: underline;
    text-decoration-color: blue;
}

div a:hover {
    font-style: italic;
}

ol {
    display:flex;
    flex-direction: column;
    padding: 0px 50px 10px 50px;
}

.listaTipoA {
    list-style-type: lower-latin;
}

table {
    margin: 50px;
    table-layout: fixed;
    border: 3px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: center;
    border: 1px dashed black;
}

thead {
    background-color: grey;
    color: gold;
}

tbody {
    background-color: white;
    color: black
}


footer {
    text-align: center;
    font-size: smaller;
    font-weight: bolder;
    font-style: oblique;
    padding-top: 50em;
}

footer a:hover {
    color: orange;
    text-decoration: underline;
}